$tt_orange_1: #571f01;
$tt_orange_2: #933401;
$tt_orange_3: #D04A02;
$tt_orange_4: #FD6412;
$tt_orange_5: #FEB791;

$tt_tangerine_1: #714400;
$tt_tangerine_2: #AE6800;
$tt_tangerine_3: #EB8C00;
$tt_tangerine_4: #FFA929;
$tt_tangerine_5: #FFDCA9;

$tt_yellow_1: #855F00;
$tt_yellow_2: #C28A00;
$tt_yellow_3: #FFB600;
$tt_yellow_4: #FFC83D;
$tt_yellow_5: #FFECBD;

$tt_rose_1: #6EA35;
$tt_rose_2: #A43E50;
$tt_rose_3: #D93954;
$tt_rose_4: #E27588;
$tt_rose_5: #F1BAC3;

$tt_red_1: #741910;
$tt_red_2: #AA2417;
$tt_red_3: #E0301E;
$tt_red_4: #E86153;
$tt_red_5: #F7C8C4;

$tt_grey_1: #00000;
$tt_grey_2: #2D2D2D;
$tt_grey_3: #464646;
$tt_grey_4: #7D7D7D;
$tt_grey_5: #DEDEDE;

$tt_purple_1: #4B06B2;
$tt_purple_2: #6A1CE2;
$tt_purple_3: #9013FE;
$tt_purple_4: #B15AFE;
$tt_purple_5: #DEB8FF;

$tt_blue_1: #003DAB;
$tt_blue_2: #0050D7;
$tt_blue_3: #0089EB;
$tt_blue_4: #4DACF1;
$tt_blue_5: #B3DCF9;

$tt_green_1: #157C2C;
$tt_green_2: #2C8646;
$tt_green_3: #4EB523;
$tt_green_4: #86DB4F;
$tt_green_5: #C4FC9F;

$tt_state_red: #E0301E;
$tt_state_yellow: #FFB600;
$tt_state_green: #175C2C;
