$pwc_orange_1: red;
$pwc_orange_2: red;
$pwc_orange_3: red;
$pwc_orange_4: red;
$pwc_orange_5: red;

$pwc_tangerine_1: red;
$pwc_tangerine_2: red;
$pwc_tangerine_3: red;
$pwc_tangerine_4: red;
$pwc_tangerine_5: red;

$pwc_yellow_1: red;
$pwc_yellow_2: red;
$pwc_yellow_3: red;
$pwc_yellow_4: red;
$pwc_yellow_5: red;

$pwc_rose_1: red;
$pwc_rose_2: red;
$pwc_rose_3: red;
$pwc_rose_4: red;
$pwc_rose_5: red;

$pwc_red_1: red;
$pwc_red_2: red;
$pwc_red_3: red;
$pwc_red_4: red;
$pwc_red_5: red;

$pwc_grey_1: red;
$pwc_grey_2: red;
$pwc_grey_3: red;
$pwc_grey_4: red;
$pwc_grey_5: red;

$pwc_purple_1: red;
$pwc_purple_2: red;
$pwc_purple_3: red;
$pwc_purple_4: red;
$pwc_purple_5: red;

$pwc_blue_1: red;
$pwc_blue_2: red;
$pwc_blue_3: red;
$pwc_blue_4: red;
$pwc_blue_5: red;

$pwc_green_1: red;
$pwc_green_2: red;
$pwc_green_3: red;
$pwc_green_4: red;
$pwc_green_5: red;

$pwc_state_red: #E0301E;
$pwc_state_yellow: #FFB600;
$pwc_state_green: #175C2C;
